.player {
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px goldenrod;
}

.video-container {
  flex-grow: 1;
}

.buttons-container {
  background: black;
}

.styled-button{
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 120%;
}

i {
  color: white;
}