.player {
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px dimgray;
}

.video-container {
  flex-grow: 1;
}

.buttons-container {
  background: black;
  position: relative;
}

.styled-button{
  border-style: none;
  background-color: transparent;
  font-size: 120%;
  cursor: pointer;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

i {
  color: white;
}
.align-right {
  position: absolute;
  right: 10px
}